/* _colors.scss */

// Colors

$color-white:							#ffffff;
$color-black:							#0d0d0d;

$color-primary-shade:     #8d0000;
$color-primary:           #dd2a2b;
$color-primary-tint:      #f83639;

$color-secondary-shade:   #1a1a1a;
$color-secondary:         #686868;
$color-secondary-tint:    #989898;

$color-tertiary:          #d2ecf3;

// Unique Theme Colors

$theme-red:               #e41b35;
$theme-orange:            #f15a29;
$theme-yellow:            #ffd40c;
$theme-green:             #83bb36;
$theme-blue:              #1d9edf;
$theme-indigo:            #2b3990;
$theme-purple:            #79328e;