/**
 * _background.scss
 * Background Utilities
 */

/**
* Background Colors
*/

/* Standard Colors */

.u-bgColorWhite {}

/**
 * Background Positioning
 */

.u-bgFixed { background-attachment: fixed; }

/**
 * Background Size
 */

.u-bgSize50 { background-size: 50%; }
.u-bgSize75 { background-size: 75%; }
.u-bgSizeFull { background-size: 100%; }
.u-bgSizeCover { background-size: cover; }
.u-bgSizeContain { background-size: contain; }
