/**
 * _display.scss
 * Custom display properties
 */

.u-disabled { opacity: 0.5; }
.u-invisible { visibility: hidden; }
.u-transparent { opacity: 0; }

.u-overflow { overflow: auto; }
.u-overflowX { overflow-x: auto; }
.u-overflowY { overflow-y: auto; }

.u-overflowHidden { overflow: hidden; }
.u-overflowXHidden { overflow-x: hidden; }
.u-overflowYHidden { overflow-y: hidden; }

/* width targeting */

@mixin create-display-classes($modifier, $breakpoint) {
  @include create-mq($breakpoint) {
    &#{$modifier}Up-hidden { display: none; }
    &#{$modifier}Up-block {display: block; }
    &#{$modifier}Up-inlineBlock { display: inline-block; }
  }
}

.u {
  @each $modifier, $breakpoint in $map-width-props {
    @include create-display-classes($modifier, $breakpoint);
  }
}