/** 
 * _margin.scss
 * Margin helpers
 *
 * ~1) Horizontal and Vertical
 * ~2) Horizontal
 * ~3) Vertical
 * ~4) Media queries
 */

/* ~1) Horizontal and Vertical
========================================================================== */

.u-margin0 { margin: 0; }
.u-margin1gu { margin: $grid-unit; }
.u-margin2gu { margin: calc($grid-unit * 2); }
.u-margin3gu { margin: calc($grid-unit * 3); }
.u-margin4gu { margin: calc($grid-unit * 4); }
.u-margin5gu { margin: calc($grid-unit * 5); }
.u-margin6gu { margin: calc($grid-unit * 6); }
.u-margin7gu { margin: calc($grid-unit * 7); }
.u-margin8gu { margin: calc($grid-unit * 8); }
.u-margin9gu { margin: calc($grid-unit * 9); }
.u-margin10gu { margin: calc($grid-unit * 10); }
.u-margin11gu { margin: calc($grid-unit * 11); }
.u-margin12gu { margin: calc($grid-unit * 12); }
.u-margin15gu { margin: calc($grid-unit * 15); }
.u-margin20gu { margin: calc($grid-unit * 20); }

/* ~2) Horizontal
========================================================================== */

/* Left */

.u-marginLeft0 { margin-left: 0; }
.u-marginLeft1gu { margin-left: $grid-unit; }
.u-marginLeft2gu { margin-left: calc($grid-unit * 2); }
.u-marginLeft3gu { margin-left: calc($grid-unit * 3); }
.u-marginLeft4gu { margin-left: calc($grid-unit * 4); }
.u-marginLeft5gu { margin-left: calc($grid-unit * 5); }
.u-marginLeft6gu { margin-left: calc($grid-unit * 6); }
.u-marginLeft7gu { margin-left: calc($grid-unit * 7); }
.u-marginLeft8gu { margin-left: calc($grid-unit * 8); }
.u-marginLeft9gu { margin-left: calc($grid-unit * 9); }
.u-marginLeft10gu { margin-left: calc($grid-unit * 10); }
.u-marginLeft11gu { margin-left: calc($grid-unit * 11); }
.u-marginLeft12gu { margin-left: calc($grid-unit * 12); }
.u-marginLeft15gu { margin-left: calc($grid-unit * 15); }
.u-marginLeft20gu { margin-left: calc($grid-unit * 20); }

/* Right */

.u-marginRight0 { margin-right: 0; }
.u-marginRight1gu { margin-right: $grid-unit; }
.u-marginRight2gu { margin-right: calc($grid-unit * 2); }
.u-marginRight3gu { margin-right: calc($grid-unit * 3); }
.u-marginRight4gu { margin-right: calc($grid-unit * 4); }
.u-marginRight5gu { margin-right: calc($grid-unit * 5); }
.u-marginRight6gu { margin-right: calc($grid-unit * 6); }
.u-marginRight7gu { margin-right: calc($grid-unit * 7); }
.u-marginRight8gu { margin-right: calc($grid-unit * 8); }
.u-marginRight9gu { margin-right: calc($grid-unit * 9); }
.u-marginRight10gu { margin-right: calc($grid-unit * 10); }
.u-marginRight11gu { margin-right: calc($grid-unit * 11); }
.u-marginRight12gu { margin-right: calc($grid-unit * 12); }
.u-marginRight15gu { margin-right: calc($grid-unit * 15); }
.u-marginRight20gu { margin-right: calc($grid-unit * 20); }

/* Right/Left Pairs */

.u-marginHoriz0 {
  margin-left: 0;
  margin-right: 0;
}

.u-marginHoriz1gu {
  margin-left: $grid-unit;
  margin-right: $grid-unit;
}

.u-marginHoriz2gu {
  margin-left: calc($grid-unit * 2);
  margin-right: calc($grid-unit * 2);
}

.u-marginHoriz3gu {
  margin-left: calc($grid-unit * 3);
  margin-right: calc($grid-unit * 3);
}

.u-marginHoriz4gu {
  margin-left: calc($grid-unit * 4);
  margin-right: calc($grid-unit * 4);
}

.u-marginHoriz5gu {
  margin-left: calc($grid-unit * 5);
  margin-right: calc($grid-unit * 5);
}

.u-marginHoriz6gu {
  margin-left: calc($grid-unit * 6);
  margin-right: calc($grid-unit * 6);
}

.u-marginHoriz7gu {
  margin-left: calc($grid-unit * 7);
  margin-right: calc($grid-unit * 7);
}

.u-marginHoriz8gu {
  margin-left: calc($grid-unit * 8);
  margin-right: calc($grid-unit * 8);
}

.u-marginHoriz9gu {
  margin-left: calc($grid-unit * 9);
  margin-right: calc($grid-unit * 9);
}

.u-marginHoriz10gu {
  margin-left: calc($grid-unit * 10);
  margin-right: calc($grid-unit * 10);
}

.u-marginHoriz11gu {
  margin-left: calc($grid-unit * 11);
  margin-right: calc($grid-unit * 11);
}

.u-marginHoriz12gu {
  margin-left: calc($grid-unit * 12);
  margin-right: calc($grid-unit * 12);
}

.u-marginHoriz15gu {
  margin-left: calc($grid-unit * 15);
  margin-right: calc($grid-unit * 15);
}

.u-marginHoriz20gu {
  margin-left: calc($grid-unit * 20);
  margin-right: calc($grid-unit * 20);
}

/* ~3) Vertical
========================================================================== */

/* Bottom */

.u-marginBottom0 { margin-bottom: 0; }
.u-marginBottom1gu { margin-bottom: $grid-unit; }
.u-marginBottom2gu { margin-bottom: calc($grid-unit * 2); }
.u-marginBottom3gu { margin-bottom: calc($grid-unit * 3); }
.u-marginBottom4gu { margin-bottom: calc($grid-unit * 4); }
.u-marginBottom5gu { margin-bottom: calc($grid-unit * 5); }
.u-marginBottom6gu { margin-bottom: calc($grid-unit * 6); }
.u-marginBottom7gu { margin-bottom: calc($grid-unit * 7); }
.u-marginBottom8gu { margin-bottom: calc($grid-unit * 8); }
.u-marginBottom9gu { margin-bottom: calc($grid-unit * 9); }
.u-marginBottom10gu { margin-bottom: calc($grid-unit * 10); }
.u-marginBottom11gu { margin-bottom: calc($grid-unit * 11); }
.u-marginBottom12gu { margin-bottom: calc($grid-unit * 12); }
.u-marginBottom15gu { margin-bottom: calc($grid-unit * 15); }
.u-marginBottom20gu { margin-bottom: calc($grid-unit * 20); }

/* Top */

.u-marginTop0 { margin-top: 0; }
.u-marginTop1gu { margin-top: $grid-unit; }
.u-marginTop2gu { margin-top: calc($grid-unit * 2); }
.u-marginTop3gu { margin-top: calc($grid-unit * 3); }
.u-marginTop4gu { margin-top: calc($grid-unit * 4); }
.u-marginTop5gu { margin-top: calc($grid-unit * 5); }
.u-marginTop6gu { margin-top: calc($grid-unit * 6); }
.u-marginTop7gu { margin-top: calc($grid-unit * 7); }
.u-marginTop8gu { margin-top: calc($grid-unit * 8); }
.u-marginTop9gu { margin-top: calc($grid-unit * 9); }
.u-marginTop10gu { margin-top: calc($grid-unit * 10); }
.u-marginTop11gu { margin-top: calc($grid-unit * 11); }
.u-marginTop12gu { margin-top: calc($grid-unit * 12); }
.u-marginTop15gu { margin-top: calc($grid-unit * 15); }
.u-marginTop20gu { margin-top: calc($grid-unit * 20); }

/* Top/Bottom Pairs */

.u-marginVert0 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-marginVert1gu {
  margin-bottom: $grid-unit;
  margin-top: $grid-unit;
}

.u-marginVert2gu {
  margin-bottom: calc($grid-unit * 2);
  margin-top: calc($grid-unit * 2);
}

.u-marginVert3gu {
  margin-bottom: calc($grid-unit * 3);
  margin-top: calc($grid-unit * 3);
}

.u-marginVert4gu {
  margin-bottom: calc($grid-unit * 4);
  margin-top: calc($grid-unit * 4);
}

.u-marginVert5gu {
  margin-bottom: calc($grid-unit * 5);
  margin-top: calc($grid-unit * 5);
}

.u-marginVert6gu {
  margin-bottom: calc($grid-unit * 6);
  margin-top: calc($grid-unit * 6);
}

.u-marginVert7gu {
  margin-bottom: calc($grid-unit * 7);
  margin-top: calc($grid-unit * 7);
}

.u-marginVert8gu {
  margin-bottom: calc($grid-unit * 8);
  margin-top: calc($grid-unit * 8);
}

.u-marginVert9gu {
  margin-bottom: calc($grid-unit * 9);
  margin-top: calc($grid-unit * 9);
}

.u-marginVert10gu {
  margin-bottom: calc($grid-unit * 10);
  margin-top: calc($grid-unit * 10);
}

.u-marginVert11gu {
  margin-bottom: calc($grid-unit * 11);
  margin-top: calc($grid-unit * 11);
}

.u-marginVert12gu {
  margin-bottom: calc($grid-unit * 12);
  margin-top: calc($grid-unit * 12);
}

.u-marginVert15gu {
  margin-bottom: calc($grid-unit * 15);
  margin-top: calc($grid-unit * 15);
}

.u-marginVert20gu {
  margin-bottom: calc($grid-unit * 20);
  margin-top: calc($grid-unit * 20);
}