/* _colors.scss */

// Colors

$color-white:							#fdfefe;
$color-black:							#242325;

$color-neutral:           #798590;
$color-neutral-tint:      #bdbdbd;

$color-primary-shade:     #0a314c;
$color-primary:           #a9e3f1; // blue
$color-primary-tint:      #d2ecf3;

$color-secondary:         #e41b35; // red
