/* _colors.scss */

// Colors

$color-white:							#ffffff;
$color-black:							#0d0d0d;

$color-primary-shade:     #8d0000;
$color-primary:           #dd2a2b;
$color-primary-tint:      #f83639;

$color-secondary-shade:   #1a1a1a;
$color-secondary:         #686868;
$color-secondary-tint:    #989898;

$color-tertiary:          #d2ecf3;
