/* fonts.scss */

// vars
$font-weight-bold:    600;
$font-weight-normal:  400;
$font-weight-light:   300;

$font-stack-primary: 'Montserrat', Arial, sans-serif;
$font-stack-secondary: 'Lost-angeles', 'Montserrat', Arial, sans-serif;
$font-stack-tertiary: $font-stack-primary;

// font family declarations
$font-family-primary:      $font-stack-primary;
$font-family-secondary:    $font-stack-secondary;
$font-family-tertiary:     $font-stack-tertiary;

$font-base: 16px;
$font-scale-factor: 3px;

// open sans
// @font-face {
//   font-family: 'Open-sans';
//   src: url('../../lib/fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
//        url('../../lib/fonts/open-sans/opensans-regular-webfont.woff') format('woff');
//   font-weight: $font-weight-normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Open-sans';
//   src: url('../../lib/fonts/open-sans/opensans-italic-webfont.woff2') format('woff2'),
//        url('../../lib/fonts/open-sans/opensans-italic-webfont.woff') format('woff');
//   font-weight: $font-weight-normal;
//   font-style: italic;
// }
//
// @font-face {
//   font-family: 'Open-sans';
//   src: url('../../lib/fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
//        url('../../lib/fonts/open-sans/opensans-semibold-webfont.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Open-sans';
//   src: url('../../lib/fonts/open-sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
//        url('../../lib/fonts/open-sans/opensans-semibolditalic-webfont.woff') format('woff');
//   font-weight: 500;
//   font-style: italic;
// }
//
// @font-face {
//   font-family: 'Open-sans';
//   src: url('../../lib/fonts/open-sans/opensans-extrabold-webfont.woff2') format('woff2'),
//        url('../../lib/fonts/open-sans/opensans-extrabold-webfont.woff') format('woff');
//   font-weight: $font-weight-bold;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Open-sans';
//   src: url('../../lib/fonts/open-sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
//        url('../../lib/fonts/open-sans/opensans-extrabolditalic-webfont.woff') format('woff');
//   font-weight: $font-weight-bold;
//   font-style: italic;
// }

@font-face {
  font-family: 'Montserrat';
  src: url('../../lib/fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
       url('../../lib/fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../lib/fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
       url('../../lib/fonts/montserrat/montserrat-light-webfont.woff') format('woff');
  font-weight: $font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../lib/fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('../../lib/fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: $font-weight-normal;
  font-style: normal;
}

// Lost Angeles

@font-face {
  font-family: 'Lost-angeles';
  src: url('../../lib/fonts/lost-angeles/angeles-italic-webfont.woff2') format('woff2'),
       url('../../lib/fonts/lost-angeles/angeles-italic-webfont.woff') format('woff');
  font-weight: $font-weight-normal;
  font-style: normal;
}
