/* global.scss */

html {
	height: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	font-size: 18px;
	line-height: 1;
	font-family: $regular;
	letter-spacing: .05em;
}

p, ol, ul, blockquote, dl {
	line-height: 1.4em;
}

p {
	font-size: em(18);
	margin: 0 0 1.5em;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

a {
	&:hover {
	}
}

ul {
	li {
	}
}

.inline-list {
	li {
		display: inline;
		margin: 0 10px;
	}
}

img {
	//max-width: 100%;
	width: 100%;
	height: auto;
}

.clearfix, .row, .block {
	&:after {
		visibility: hidden;
		display: block;
		content: '';
		clear: both;
		height: 0;
	}
}

// headings

h1 {

}

h2 {

}


h3 {

}

h4 {

}

h5 {

}

h6 {

}
