/* _style-guide.scss */

html {
	height: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	font-size: $font-base;
	line-height: 1;
	font-family: $font-family-primary;
	color: $color-black;
}

p, ol, ul, blockquote, dl {
	line-height: 1.4em;
}

p {
	font-size: $font-base;
	margin: 0 0 1.5em;
}

strong, b {
	font-weight: $font-weight-bold;
}

em, i {
	font-style: italic;
}

a {
	color: $color-secondary;
	text-decoration: none;
	&:hover {
		color: $color-primary;
	}
}

ul {
	li {
	}
}

.inline-list {

}

.inline-list__item {
	display: inline;
	margin: 0 10px;
}

img {
	//max-width: 100%;
	width: 100%;
	height: auto;
}

// headings

h1 {
	font-family: $font-family-secondary;
	font-size: 48px;
}

h2 {
	font-family: $font-family-secondary;
	font-size: 32px;
}


h3 {

}

h4 {

}

h5 {

}

h6 {

}
