/* _style-guide.scss */

html {
	height: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	font-size: $font-base;
	line-height: 1em;
	font-family: $font-family-primary;
	color: $color-secondary;
}

p, ol, ul, blockquote, dl, h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
}

p {
	margin: 0 0 1.5em;
}

strong, b {
	font-weight: $font-weight-bold;
}

em, i {
	font-style: italic;
}

a {
	color: $color-primary;
	font-weight: $font-weight-bold;
	text-decoration: none;
	&:hover {
		color: $color-primary-shade;
	}
}

blockquote {
	font-size: 36px;
	margin: 0 0 1em 1em;
	color: $color-primary;
}

ul {
	list-style: none;
	li::before {
  	content: "\2022";
  	color: $color-secondary-tint;
  	display: inline-block;
		font-size: 1.35em;
		margin-left: -0.75em;
		width: 0.75em;
	}
}

ol {
	list-style: none;
	counter-reset: custom-counter;
	li {
		counter-increment: custom-counter;
		margin: 0.5em 0 1em 1em;
		&::before {
			content: counter(custom-counter, decimal-leading-zero);
			color: $color-secondary-tint;
			display: inline-block;
			padding-right: 3px;
			margin-right: 10px;
			border-right: 2px solid $color-secondary-tint;
		}
		ol, ul {
			margin-top: 1em;
		}
	}
}

li {
	margin: 0 0 1em 2em;
}

.list__item--highlight {
	&::before {
		color: $color-primary;
	}
}

.inline-list {
	list-style: none;
	li::before {
		content: '';
	}
}

.inline-list__item {
	display: inline;
	margin: 0 10px;
}

img {
	//max-width: 100%;
	width: 100%;
	height: auto;
}

// headings

h1, h2, h3 {
	font-family: $font-family-secondary;
	color: $color-secondary-shade;
}

h1 {
	font-size: 56px;
	margin: 0 0 .25em;
}

h2 {
	font-size: 42px;
	margin: 0 0 0.5em;
}

h3 {
	font-size: 24px;
	margin: 0 0 0.75em;
}

h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: $color-secondary-shade;
}

h4 {
	font-size: 24px;
	margin: 0 0 0.75em;
}

h5 {
	font-size: 18px;
	margin: 0 0 1em;
}

h6 {
	font-size: 13px;
	margin: 0 0 1em;
}
