/* _theme-header.scss */

.logo {
  max-width: 156px;
}

// main navigation styles for theme

.nav__list {
  li {
    margin: 0;
    padding: 0;
    display: inline;
  }
  a {
    font-weight: $font-weight-light;
    color: $color-black;
    text-transform: uppercase;
    line-height: 1em;
    padding: 23px 10px 24px;
    &:hover {
      background: $color-neutral-tint;
    }
  }
}

.primary-nav--mobile {
  .nav__list {
    text-align: center;
    li {
      display: block;
      padding: ($grid-unit * 4);
      border-bottom: 1px solid $color-neutral-tint;
      &:last-child {
        border: 0;
      }
    }
    a {
      padding: 0;
      &:hover {
        background: none;
        color: $color-secondary;
      }
    }
  }
}
