// breakpoints.scss

// Grid Units
$grid-unit: 5px;

// Responsive

$sm-width:  400px;
$md-width:  768px;
$lg-width:  931px;
$xl-width:  1029px;

$map-width-props: ('-xs': 0, '-sm': $sm-width, '-md': $md-width, '-lg': $lg-width, '-xl': $xl-width);