// breakpoints.scss

// Grid Units
$grid-unit: 5px;

// Responsive

$md-width:          1028px;
$sm-width:          767px;

$tablet-width: 			1028px;
$sub-tablet-width:	930px;
$mobile-width: 			767px;
$sub-mobile-width: 	400px;
