// functions.scss

@function em($target, $context: $font-size) {
  @return ($target / $context) * 1em;
}

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -o-border-radius: $rad;
  border-radius: $rad;
}

@mixin transition($time) {
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-ms-transition: all $time ease;
	-o-transition: all $time ease;
	transition: all $time ease;
}

@mixin transform($prop) {
	-webkit-transform: $prop;
	-moz-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
	transform: $prop;
}

@mixin box-shadow($prop) {
	-webkit-box-shadow: $prop;
	-moz-box-shadow: $prop;
	-ms-box-shadow: $prop;
	-o-box-shadow: $prop;
	box-shadow: $prop;
}

@mixin gradient($topColor, $bottomColor) {
	background-color: -webkit-linear-gradient($topColor, $bottomColor);
	background-color: -moz-linear-gradient($topColor, $bottomColor);
	background-color: -ms-linear-gradient($topColor, $bottomColor);
	background-color: -o-linear-gradient($topColor, $bottomColor);
	background-color: linear-gradient($topColor, $bottomColor);
}

@mixin position($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// flexbox classes to extend
@mixin flex {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-ms-flex-flow: row wrap;  /* TWEENER - IE 10 */
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flexCenter {
	@include flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin flexCenterColumn {
	@include flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

@mixin flexSpaceBetween {
	@include flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@mixin flexVerticalCenter {
	@include flexCenter;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

@mixin flexVerticalOnly {
	@include flex;
	-webkit-align-items: center;
	-ms-flex-align: center; // IE10
	align-items: center;
}



@mixin flexVerticalEnd {
	@include flex;
	-webkit-align-items: flex-end;
	-ms-flex-align: end; // IE10
	align-items: flex-end;
}

@mixin flexStretch {
	@include flex;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch; // IE10
	align-items: stretch;
}

@mixin flexStart {
	@include flex;
	-webkit-align-items: flex-start;
	-ms-flex-align: start; // IE10
	align-items: flex-start;
}

@mixin alignSelfEnd {
	-webkit-align-self: flex-end;
	-ms-flex-align-self: flex-end; // IE10
	align-self: flex-end;
}
